// VARIABLES GENERALES COLORS
$white : #fff;
// $black : #2A2826;
$black : #000000;
$black-light: #2a28269d;
$black-very-light: #2a28262a;
$pink :#F2EDE9;
$pink-light: #f7f7f7;
$pink-transparent :#f2ede9c9;
$green-dark: #272D19;
$green-dark-hover: #1b1f11;
